// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; //10 px

  @media only screen and (min-width: 120em) {
    font-size: 93.75%;
  } 

  @media only screen and (max-width: 62.5em) {
    font-size: 56.25%;
  }

  @media only screen and (max-width: 53.25em) {
    font-size: 43.75%;
  }
}

body {
  transition: all .2s;
}

.navbar__container {
  width: 90%;
  margin: 0 auto;
}

.header__container {
  width: 90%;
  margin: 0 auto;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.sticky {
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.hidden {
  display: none !important;
}