// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------
@font-face {
  font-family: SF;
  src: url("../../fonts/SF-UI-Display-Ultralight.otf");
}

@font-face {
  font-family: SF_regular;
  src: url("../../fonts/SF-UI-Display-Regular.ttf");
}

@font-face {
  font-family: SF_bold;
  src: url("../../fonts/sf-ui-display-bold.woff");
}

// Vazir

@font-face{
	font-family: Sahel;
	src:url('../../fonts/Sahel/Sahel.woff');
	src:url('../../fonts/Sahel/Sahel.woff') format('woff'),
	url('../../fonts/Sahel/Sahel.woff2') format('woff2'),
	url('../../fonts/Sahel/Sahel.eot') format('embedded-opentype'),
	url('../../fonts/Sahel/Sahel.ttf') format('truetype');
	font-weight:normal;
	font-style:normal;
}

@font-face{
	font-family: Sahel_bold;
	src:url('../../fonts/Sahel/Sahel-Bold.woff');
	src:url('../../fonts/Sahel/Sahel-Bold.woff') format('woff'),
	url('../../fonts/Sahel/Sahel-Bold.woff2') format('woff2'),
	url('../../fonts/Sahel/Sahel-Bold.eot') format('embedded-opentype'),
	url('../../fonts/Sahel/Sahel-Bold.ttf') format('truetype');
	font-weight:bold;
	font-style:normal;
}