.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    &__group {

        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;

        &:not(:last-child) {
            margin-bottom: 1rem;
        }

        &--double {
            display: flex;
            & > * {
                flex: 1;
            }
        }

        &--button {
            align-self: stretch;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 3rem;

            button {
                font-size: 1.5rem;
                width: 60%;
                height: 5rem;
            }
        }

    }

    &__input {
        font-size: 1.6rem;
        font-family: SF, sans-serif;
        color: rgb(87, 87, 87);
        padding: 1.5rem 2rem;
        border-radius: 2px;
        background-color: transparent;
        width: 90%;
        border: none;
        border-bottom: 3px solid rgb(87, 87, 87);
        display: block;
        transition: all .3s;

        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba(0, 0, 0, .1);
            border-bottom: 3px solid $underline-red-color;
        }

        &:focus:invalid {
            border-bottom: 3px solid $underline-red-color;
        }

        &::-webkit-input-placeholder {
            font-weight: bold;
            color: rgba(0, 0, 0, .7);
        }
    }


    &__label {
        font-family: SF, sans-serif;
        font-size: 1.2rem;
        font-weight: 700;
        margin-left: 5rem;
        margin-top: .7rem;
        margin-bottom: .7rem;
        display: block;
        transition: all .3s;
        align-self: flex-start;

        &--2 {
            font-family: SF, sans-serif;
            font-size: 1.6rem;
            font-weight: 700;
            margin-left: 5rem;
            margin-top: .7rem;
            margin-bottom: .7rem;
            display: block;
            transition: all .3s;
            align-self: flex-start;
        }
    }

    &__input:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-1rem);
    }

    &__textarea {
        resize: none;
        width: 90%;
        height: 5rem;
        color: rgba(0, 0, 0, .3);
    }

}