.form {
    direction: rtl;

    display: flex;
    flex-direction: column;
    align-items: center;
    
    &__group {

        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;

        &:not(:last-child) {
            margin-bottom: 1rem;
        }

        &--double {
            display: flex;
            & > * {
                flex: 1;
            }
        }

        &--button {
            align-self: stretch;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 3rem;

            button {
                font-size: 1.5rem;
                width: 60%;
                height: 5rem;
            }
        }

    }

    &__input {
        font-size: 1.6rem;
        font-family: Vazir, sans-serif;
        color: rgb(87, 87, 87);
        padding: 1.5rem 2rem;
        border-radius: 2px;
        background-color: transparent;
        width: 90%;
        border: none;
        border-bottom: 3px solid rgb(87, 87, 87);
        display: block;
        transition: all .3s;
        box-shadow: 0 0rem 2rem rgba(0, 0, 0, .2);

        &:focus {
            outline: none;
            box-shadow: 0 0rem 2rem rgba(0, 0, 0, .3);
            border-bottom: 3px solid $underline-red-color;
        }

        &::-webkit-input-placeholder {
            font-weight: bold;
            color: rgba(0, 0, 0, .7);
        }
    }


    &__label {
        font-family: Vazir, sans-serif;
        font-size: 1.2rem;
        font-weight: 700;
        margin-left: 5rem;
        margin-top: .7rem;
        margin-bottom: .7rem;
        display: block;
        transition: all .3s;
        align-self: flex-start;

        &--2 {
            font-family: Vazir, sans-serif;
            font-size: 1.6rem;
            font-weight: 700;
            margin-left: 5rem;
            margin-right: 3rem;
            margin-top: .7rem;
            margin-bottom: .7rem;
            display: block;
            transition: all .3s;
            align-self: flex-start;
        }
    }

    &__input:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-1rem);
    }

    &__textarea {
        font-family: Vazir, sans-serif;
        font-size: 1.4rem;
        resize: none;
        border: 0;
        border-right: 3px solid  rgb(87, 87, 87);
        padding: 1.5rem 2rem;
        width: 90%;
        height: 8rem;
        color: rgba(0, 0, 0, .8);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, .1);

        &:focus {
            outline: none;
            resize: none;
            box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
            border-right: 3px solid $underline-red-color;
        }
    }

    
    &__radio-group {
        //width: 49%;
        display: inline-block;
        &:not(:last-child) {
            margin-left: 1.5rem;
        }
    }

    &__radio-input {
        display: none;
    }
    
    &__radio-label {
        font-family: Vazir, sans-serif;
        font-size: 1.5rem;
        cursor: pointer;
        position: relative;
        padding-right: 4.5rem;
    }

    &__radio-button {
        height: 3rem;
        width: 3rem;
        border: 5px solid $underline-red-color;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        right: 0;
        top: -.4rem;

        &::after {
            content: "";
            display: block;
            height: 1.3rem;
            width: 1.3rem;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: $underline-red-color;
            opacity: 0;
            transition: opacity .2s;
        }
    }

    &__radio-input:checked ~ &__radio-label &__radio-button::after {
        opacity: 1;
    }

}

.radioButtons {
    margin: 3rem 0 2rem;
    width: 90%;
    display: flex;
}